.bg-pintxo{
  background: url("/assets/img/pintxos.jpg");
  background-position: center;
  background-size: cover;

  ion-item{
    opacity: 0.85;
    height: 55px;
  }

  h4{
    width: 100%;
    color: white;
    font: 19px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin: 0;
  }

  ion-button ion-icon{
    padding-right: 6px;
  }
}

