
<ion-content>
    <app-search (filters)="getFilters($event)"></app-search>

    <ion-grid *ngIf="bars$ | async as bars">
        <ion-row>
            <ion-col size-lg="3" size-md="4" size-sm="6" size="12" *ngFor="let bar of bars">

                <app-bar [bar]="bar"></app-bar>

            </ion-col>
        </ion-row>

        <app-paginator
                [pag]="currentPag"
                [total]="totalRows$ | async"
                (response)="paginateTo($event)">
        </app-paginator>

    </ion-grid>
</ion-content>


