<ion-content>

    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let s of slides">
            <img src="assets/img/welcome-{{s.id}}.jpg">
            <div>
                <h3>{{s.text}}</h3>
            </div>

        </ion-slide>
    </ion-slides>

    <h2 class="ion-text-center">Choose a city for pintxo-pote:</h2>

    <ion-grid>
        <ion-row>
            <ion-col size-lg="6" size-md="6" size="12" *ngFor="let city of cities$ | async">

                <ion-card [routerLink]="['/city/'+city.name]">
                    <img [src]="'assets/img/cities/'+ city.id + '.jpg'" />
                    <ion-card-header>
                        <ion-card-title class="ion-text-center">{{ city.name }}</ion-card-title>
                    </ion-card-header>
                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

