<form [formGroup]="form">
  <ion-grid>
    <ion-row>
      <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <ion-item>
          <ion-label position="floating">Country</ion-label>
          <ion-select value="usa" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="usa">United States</ion-select-option>
            <ion-select-option value="india">India</ion-select-option>
            <ion-select-option value="france">France</ion-select-option>
            <ion-select-option value="spain">Spain</ion-select-option>
            <ion-select-option value="brazil">Brazil</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size-lg="6" size-md="4" size-sm="4" size="12">
        <ion-item>
          <ion-label position="floating">Choose City</ion-label>
          <ion-select value="california" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="california">California</ion-select-option>
            <ion-select-option value="illinois">Illinois</ion-select-option>
            <ion-select-option value="texas">Texas</ion-select-option>
            <ion-select-option value="pennsylvania">Pennsylvania</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="4" size="12">
        <ion-item>
          <ion-label position="floating">Address</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="4" size="12">
        <ion-item>
          <ion-label position="floating">Postal Code</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-lg="4" size-md="4" size-sm="4" size="12">
        <ion-item>
          <ion-label position="floating">Gender</ion-label>
          <ion-select value="male" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="male">Male</ion-select-option>
            <ion-select-option value="female">female</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size-lg="4" size-md="4" size-sm="4" size="12">
        <ion-item>
          <ion-label position="floating">Age</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
